@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
    color: #676a70;
}
.flex-d {
    display: flex;
}
.jc-between {
    justify-content: space-between;
}
.column-dir {
    flex-direction: column;
}
.end-user {

}
.jdoe  {
    color: #fff;
}
a {
    text-decoration: none;
}
.logo-small {
    display: none;
}

 /* main */
main {
    width: 100%;
    height: calc(100vh - 90px);
    overflow: hidden;
    display: flex;
}

/* menu left*/
.menu {
    width: 250px;
    height: 100%;
    padding: 20px;
    background-color: #000;
}
.logo {
    width: 70%;
    margin-bottom: 20px;
}
ul {
    list-style: none;
}
.list {
    overflow: auto;
}
.menu ul li {
    margin-bottom: 15px;
}
.top-menu {
    margin-bottom: 10px;
}
.space {
    margin-left: 10px;
}
.fa-house  {
    color: #fff;
}
.home div {
    color: #fff;
    cursor: pointer;
}

/* playlist */
.height-playlist {
    height: calc(100vh - 355px);
}
.playlist {
    color: #fff;
}
.space-p {
    margin: 25px 0;
}
.crea-pl {
    padding: 2px 4px 2px 11px;
    background-color: #676a70;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}
.create {
    margin-left: 10px;
}

/* user */
user {
    height: 70px;
}
.user i {
    margin-right: 5px;
}

hr {
    margin: 10px 0;
}
.jdoe .space {
    position: relative;
    top: -20px;
    left: 20px;
}
.color-hov-install {
    color: #2f2f2f;
}

/* album */
.album {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.background-button {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
    text-align: end;
    padding: 40px;
    position: fixed;
}
.button {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 215px;
}


/* options main */
.options {
    width: 80%;
    margin: 20px auto;
    margin-top: 100px;
}
.list-option {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 13px;
}
.list-option li {
    padding: 20px;
    color: #5d5f66;
    font-weight: bold;
}
.border-inf {
    width: 30px;
    height: 3px;
    margin: 3px auto;
    border-left: 40px solid #99e22d;
}

/* song */
.recently h1 {
    color: #fff;
    padding: 30px;
    font-size: 25px;
}
.all-album {
    flex-wrap: wrap;
    text-align: center;
}
.singol-album{
    width: calc(100% / 6 - 5px);
    padding: 0 20px;
}
.all-album img {
    width: 100%;
    margin-bottom: 10px;
}
.all-album h4 {
    margin-bottom: 10px;
    color: #fff;
}

/* per Jogn Doe */
.for-john{
    margin-top: 30px;
}
.for-john h1 {
    color: #fff;
    padding: 10px 30px;
    font-size: 25px;
}
.for-john p {
    padding: 10px 0px 50px 30px;
}

/* recently */
.recently {
    margin-bottom: 20px;
}


/* footer */
footer {
    background-color: #282828;
    padding: 20px;
    height: 90px;
    width: 100%;
}


/* player-left */
.singer {
    width: 25%;
}
.name-song {
    font-size: 10px;
    margin: 2px 10px;
    align-self: center;
}
.name-song h3 {
    color: #fff;
    font-size: 17px;
}
.icon-song i {
    margin: 10px 5px;
}
.icon-song {
    align-self: center;
}

/* player-center */
.player {
    width: 40%;
}
.icon-player {
    justify-content: center;
}
.icon-player i{
    margin: 10px 15px;
    color: #fff;
    cursor: pointer;
}
.rigid-bar {
    width: 45%;
    height: 8px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #5a5a5a;
}

.singer img {
    width: 50px;
}
.time-song {
    align-items: center;
    justify-content: center;
}
.timer-l, .timer-r {
    color: #fff;
}
.timer-l {
    margin-right: 10px;
}
.timer-r {
    margin-left: 10px;
}
.intern-r-b {
    width: 30%;
    height: 6px;
    border-radius: 10px;
    background-color: #c1c1c1;
}
/* player-right */
.icon-right {
    justify-content: flex-end;
}
.icon-volume {
    align-items: center;
}
.icon-volume i {
    margin: 10px 10px;
    color: #fff;
}
.volume {
    width: 6vw;
    height: 8px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #5a5a5a;
}
.intern-v {
    width: 30%;
    height: 6px;
    border-radius: 10px;
    background-color: #c1c1c1;
}

/* hover */
.button:hover {
    font-size: 18px;
    cursor: pointer;
}
li:hover {
    color: #fff;
    cursor: pointer;
}
.create:hover {
    color: #fff;
}
.color-hov-install:hover {
    color: #fff;
}
/* footer hover */
.name-song div:hover {
    text-decoration: underline;
}
.icon-song i:hover {
    color: #fff;
}
.fa-circle-play:hover {
    font-size: 25px;
}
.intern-r-b:hover {
    background-color: #ADFF2F;
}
.intern-v:hover {
    background-color: #ADFF2F;
}


/* breakpoint */
/* 1100px md*/
@media all and (max-width: 1100px) {
    .singol-album {
        width: calc(100% / 4 - 5px);
    }



}


/* 700px s*/
@media all and (max-width: 700px) {
    .singol-album {
        width: calc(100% / 2 - 5px);
    }
    .icon-song {
        flex-direction: column;
    }
    .icon-song i {
        margin: 5px;
    }
}


/* 600px xs*/
@media all and (max-width: 600px) {
    .logo-small {
        display: block;
        width: 30px;
    }
    .logo {
        display: none;
    }
    .menu {
        width: 60px;
        display: flex;
    }
    .space {
        display: none;
    }
    ul {
        padding: 10px 5px;
    }
    .height-playlist {
        display: none;
    }
    hr {
        display: none;
    }
    .end-user {
    position: relative;
    top: 68vh;
    left: 5px;
    }
    .fa-user {
        font-size: 20px;
        margin-top: 10px;
    }
    .top-menu {
        margin: 0;
    }
    .button {
        margin-right: 40px;
    }
}

